# intellij, vscode
.idea/
.vscode/
venv

# build artifacts, mac
__pycache__/
*.pyc
.DS_Store
.envrc
.env

# java
*.class

# App folders
log/
buildimg/*
config/*
!/config/tokens-example.yml
!/config/settings-example.yml
/pipeline/build/*
/config/k8s_onboard/*
/deployment/deploy_webapp/tmp/*
temp-creds/
*.zip

# Credentials
*.pem
